html {
	font-family:'Open Sans', sans-serif;
}

a {
	text-decoration:none;
	color:black;
}

header {
	width:100%;
	height:5em;
	background-color: #888;
	border-bottom:solid 0.2em black;
	font-family: 'Oswald', sans-serif;
}

header h1 {
	padding-top:0.2em;
	margin-left:1em;
	font-size: 250%;
	margin-top:0;
}

header li, header ul {
	display:inline;
}

header li {
	padding-right:0.5em;
}

header ul{
	float:right;
	padding:0;
	margin:0;
}

header ul li a:hover {
	border-bottom: solid 0.3em #33b5e5;
}